<a href="https://colab.research.google.com/github/mohammadRahimi1993/BigDataEducation/blob/main/MapReduce_Site.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
# install java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
    .appName("WordCount").getOrCreate()

In [8]:
data=[(1,"World Cup recap, day 10: US defeat Iran, England wallop Wales, England wallop Wales"),
      (2,"Pulisic strike earns USA a place in the World Cup last 16, in the World Cup last 16"),
      (3,"Stowaways travel from Nigeria to Canary Islands on ship’s rudder, in the World Cup last 16")]
RDD = spark.sparkContext.parallelize(data)
RDD.collect()

[(1,
  'World Cup recap, day 10: US defeat Iran, England wallop Wales, England wallop Wales'),
 (2,
  'Pulisic strike earns USA a place in the World Cup last 16, in the World Cup last 16'),
 (3,
  'Stowaways travel from Nigeria to Canary Islands on ship’s rudder, in the World Cup last 16')]

In [9]:
RDD_Map = RDD.flatMap(lambda x: [((x[0],word),1) for word in x[1].split()])
RDD_Map.take(15)

[((1, 'World'), 1),
 ((1, 'Cup'), 1),
 ((1, 'recap,'), 1),
 ((1, 'day'), 1),
 ((1, '10:'), 1),
 ((1, 'US'), 1),
 ((1, 'defeat'), 1),
 ((1, 'Iran,'), 1),
 ((1, 'England'), 1),
 ((1, 'wallop'), 1),
 ((1, 'Wales,'), 1),
 ((1, 'England'), 1),
 ((1, 'wallop'), 1),
 ((1, 'Wales'), 1),
 ((2, 'Pulisic'), 1)]

In [ ]:
RDD_Reduce = RDD_Map.reduceByKey(lambda x,y:x+y)
RDD_Reduce.collect()

[((1, 'Cup'), 1),
 ((1, 'day'), 1),
 ((1, 'US'), 1),
 ((1, 'England'), 2),
 ((1, 'wallop'), 2),
 ((1, 'Wales,'), 1),
 ((1, 'Wales'), 1),
 ((2, 'USA'), 1),
 ((2, 'in'), 2),
 ((2, 'World'), 2),
 ((2, 'last'), 2),
 ((2, '16,'), 1),
 ((2, '16'), 1),
 ((3, 'travel'), 1),
 ((3, 'from'), 1),
 ((3, 'to'), 1),
 ((3, 'Canary'), 1),
 ((3, 'on'), 1),
 ((3, 'ship’s'), 1),
 ((3, 'rudder,'), 1),
 ((3, 'the'), 1),
 ((3, 'Cup'), 1),
 ((1, 'World'), 1),
 ((1, 'recap,'), 1),
 ((1, '10:'), 1),
 ((1, 'defeat'), 1),
 ((1, 'Iran,'), 1),
 ((2, 'Pulisic'), 1),
 ((2, 'strike'), 1),
 ((2, 'earns'), 1),
 ((2, 'a'), 1),
 ((2, 'place'), 1),
 ((2, 'the'), 2),
 ((2, 'Cup'), 2),
 ((3, 'Stowaways'), 1),
 ((3, 'Nigeria'), 1),
 ((3, 'Islands'), 1),
 ((3, 'in'), 1),
 ((3, 'World'), 1),
 ((3, 'last'), 1),
 ((3, '16'), 1)]